<div class="slds-form-element custom-picklist">
  <div class="slds-form-element__control">
    <div class="slds-combobox_container slds-size_small">
      <div ng-class='showPicklist ? "slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" :
      "slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click"'
        click-outside="ctrl.myClickOutsideHandler(event, 'namePickList')">
        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
          <button type="button" class="slds-input_faux slds-combobox__input"
            aria-labelledby="combobox-label-id-3 combobox-id-1-selected-value"
            ng-click="togglePicklist()"
            id="combobox-id-1-selected-value" aria-controls="listbox-id-1" aria-expanded="false"
            aria-haspopup="listbox">
            <span class="slds-truncate"
              id="combobox-value-id-3">{{selectedOption ? selectedOption.label : defaultNull.label}}</span>
          </button>
          <span
            class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default"
              aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
            </svg>
          </span>
        </div>
        <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid"
          role="listbox">
          <ul class="slds-listbox slds-listbox_vertical" role="presentation">
            
            <li ng-repeat="option in options"
              ng-click="selectOption(option)"
              class="slds-listbox__item"
              role="presentation">
              
              <div id="option1"
                aria-checked="true"
                class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-is-selected"
                role="option">
                <span class="slds-media__figure slds-listbox__option-icon"></span>
                <span class="slds-media__body">
                  <span class="slds-truncate" title="item.label">{{ option.label }}</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>